body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;

}

.game-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff; /* Set background color as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-button img {
    width: 80px; /* Set image size as needed */
    height: 80px;
}
